.grant {
  background-color: $color-primary;
  color: $color-beige;
  padding-top: 124px;
  padding-bottom: 120px;

  @include break($vp-desk-interim) {
    padding-top: 98px;
    padding-bottom: 100px;
  }

  p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 33px;

    @include break($vp-desk-interim) {
      font-size: 16px;
      line-height: 20px;
      max-width: 498px;
      margin-bottom: 36px;
    }
  }
}

.grand__content {
  display: grid;
  grid-template-columns: 498px 1fr;
  gap: 138px;

  @include break($vp-1250) {
    display: flex;
    flex-direction: column;
    gap: 41px;
  }
}

.grant__left-sub-title {
  color: $color-inverse;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  margin: 0;
  margin-bottom: 29px;

  @include break($vp-desk-interim) {
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 28px;
  }
}

.grant__right-sub-title {
  max-width: 373px;
  padding-top: 4px;
  color: $color-inverse;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom: 55px;

  @include break($vp-1250) {
    font-size: 28px;
    line-height: 28px;
    max-width: none;
    margin-bottom: 42px;
  }
}

.grand__img-wrapper {
  width: 498px;
  height: 363px;

  @include break($vp-1250) {
    width: auto;
    height: 375px;
    align-self: stretch;
  }

  img {
    border-radius: 16px;

    @include break($vp-1250) {
      height: 100%;
      object-fit: cover;
    }
  }
}

.grant__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 23px;
  counter-reset: grand-items;

  @include break($vp-1250) {
    gap: 27px;
    row-gap: 25px;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.grant__item {
  font-size: 16px;
  line-height: 26px;
  border-radius: 16px;
  border: 1px solid $color-beige;
  margin-left: 20px;
  max-width: 478px;
  padding: 22px 25px;
  position: relative;

  @include break($vp-1250) {
    width: calc(50% - 48px / 2 - 10px);
    padding: 25px 24px;
    line-height: 20px;
  }

  &::before {
    counter-increment: grand-items;
    content: counter(grand-items);
    position: absolute;
    width: 42px;
    height: 42px;
    background: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -16px;
    left: -21px;

    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.22px;
    text-transform: uppercase;
  }

  &--3 {
    padding-right: 100px;


    @include break($vp-desk-interim) {
      padding-right: 24px;
    }
  }
}