.m-hide {

  @include mobile {
    display: none;
  }
}

.m-show {
  display: none;

  @include mobile {
    display: block;
  }
}


// .m-show {
//   display: none;

//   @include mobile {
//     display: block;
//   }
// }

.is-hidden.is-hidden.is-hidden {
  visibility: hidden;
}
