.news {
  padding-top: 4px;
  margin-bottom: 120px;

  @include break($vp-desk-interim) {
    padding-top: 0;
  }

  @include break($vp-mobile-interim) {
    padding-top: 2px;
  }
}

.news__title {
  color: $color-primary;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  margin: 0;
  margin-bottom: 47px;

  @include break($vp-desk-interim) {
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 31px;
  }

  @include break($vp-mobile-interim) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 27px;
  }
}

.news__swiper {
  display: flex;
  justify-content: center;
  margin-bottom: 39px;

  @include break($vp-desk-interim) {
    margin-bottom: 30px;
  }

  @include break($vp-mobile-interim) {
    margin-bottom: 23px;
    justify-content: flex-start;
  }
}

.news__tabs-slide {
  width: fit-content;

  @include break($vp-desk-interim) {
    // margin-right: 10px;
  }

  @include break($vp-desk-interim) {
    margin-right: 0;
  }
}

.news__tabs-list {
  margin-left: 30px;
  width: fit-content;
  align-items: center;

  @include break($vp-desk-interim) {
    margin-left: 10px;
  }

  @include break($vp-mobile-interim) {
    margin-left: 0;
    width: calc(100vw - 15px);
  }
}

.news__content-swiper {
  margin-bottom: 40px;

  @include break($vp-desk-interim) {
    margin-bottom: 30px;
  }

  @include break($vp-mobile-interim) {
    margin-bottom: 24px;
  }
}

.news__content-slider {
  height: 400px;
  width: 286px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  @include break($vp-1120) {
    height: calc(50% - 30px / 2);
  }

  @include break($vp-mobile-interim) {
    &:nth-child(2n - 1) {
      height: 330px;
      min-height: 330px;
    }

    &:nth-child(2n) {
      height: 240px;
      max-height: 240px;
    }
  }
}

.news__img-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;

  img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.news__overlay {
  position: relative;
  z-index: 2;

  h3 {
    color: $color-primary;
    background-color: $bg-base;
    margin: 0;
    border-radius: 0 12px 0 0;
    position: relative;
    padding: 4px 12px 2px 0;
    max-width: 291px;
    margin-right: 72px;
    padding-bottom: 0;

    font-size: 24px;
    font-weight: 400;
    line-height: 26px;

    @include break($vp-desk-interim) {
      font-size: 20px;
      line-height: 24px;
      max-width: 207px;
    }

    @include break($vp-mobile-interim) {
      font-size: 16px;
      line-height: 18px;
      margin-right: 90px;
      padding-bottom: 4px;
      padding-top: 10px;
    }
  }

  h3::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 0;
    right: -16px;
    background-image: url("../img/svg/angel-beige.svg");
  }

  p {
    margin: 0;
    color: $text-color-base;
    font-size: 14px;
    line-height: 18px;

    @include break($vp-desk-interim) {
      font-family: "Manrope", "Arial", sans-serif;
      font-size: 14px;
      line-height: 20px;
    }

    @include break($vp-mobile-interim) {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.news__date {
  background-color: $bg-base;
  border-radius: 0 12px 0 0;
  position: relative;
  padding: 10px 12px 6px 0;

  color: $color-primary;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.12px;
  text-transform: uppercase;

  @include break($vp-mobile-interim) {
    padding-right: 13px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 6px;
    right: -16px;
    background-image: url("../img/svg/angel-beige.svg");
  }

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 0;
    background-image: url("../img/svg/angel-beige.svg");
  }
}

.news__footer {
  position: relative;
  background-color: $bg-base;
  display: grid;
  grid-template-columns: 1fr 30px;
  max-width: 389px;
  min-width: 240px;
  padding: 9px 18px 12px 0;
  align-items: center;
  min-height: 57px;
  border-radius: 0 12px;
  margin-right: 46px;
  gap: 10px;

  @include break($vp-desk-interim) {
    padding-bottom: 10px;
    max-width: 240px;
    min-width: auto;
    margin-right: 27px;
    padding-right: 17px;
  }

  @include break($vp-mobile-interim) {
    max-width: none;
    padding-bottom: 0;
    min-height: 52px;
    padding-top: 3px;
    padding-right: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 0;
    right: -16px;
    background-image: url("../img/svg/angel-beige.svg");
  }
}

.news__content-slider--big {
  width: calc(100% - 2 * 286px - 2 * 32px);

  h3 {
    padding-top: 13px;
    padding-bottom: 2px;
    margin-right: 117px;

    @include break($vp-desk-interim) {
      padding-bottom: 0;
      padding-top: 4px;
      margin-right: 53px;
      max-width: 207px;
    }

    @include break($vp-mobile-interim) {
      max-width: none;
      margin-right: 90px;
      padding-bottom: 4px;
      padding-top: 10px;
    }
  }

  .news__footer {
    margin-right: 84px;

    @include break($vp-desk-interim) {
      margin-right: 27px;
    }

    @include break($vp-mobile-interim) {
      padding-bottom: 9px;
      padding-top: 10px;
      min-height: 64px;
    }
  }
}

.news__pagination {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;

  @include break($vp-mobile-interim) {
    margin: 0;
    gap: 16px;
  }
}

.news__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news .swiper-pagination-bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: 1px solid transparent;
  opacity: 0.5;
  color: $color-primary;
  transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.25s ease-in-out;

  @include break($vp-mobile-interim) {
    width: 26px;
    height: 26px;
  }

  &:hover,
  &:focus-visible {
    border-color: $color-primary;
    opacity: 1;
    outline: none;
  }

  &:active {
    background-color: #275699;
    border: #275699;
    color: $color-inverse;
  }
}

.news__pagination .swiper-pagination-bullet:nth-child(n+5) {
  display: none;
}

.news .swiper-pagination-bullet-active {
  color: $color-inverse;
  background-color: $color-primary;
  opacity: 1;
  cursor: auto;
}

.news__content-wrapper {
  @include break($vp-1120) {
    height: 730px;
  }

  @include break($vp-mobile-interim) {
    height: 590px;
  }
}
