// Viewports
// ---------------------------------
$vp-mobile: 320px;
$vp-420: 420px;
$vp-mobile-interim: 720px;
$vp-tablet: 768px;
$vp-desk-interim: 1020px;
$vp-1120: 1120px;
$vp-1250: 1250px;
$vp-1330: 1330px;
$vp-1400: 1400px;
$vp-desktop: 1440px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Geometry
// ---------------------------------
$desktop-width: $vp-desktop;
$tablet-width: $vp-tablet;
$mobile-width: $vp-mobile;
$hero-height-desktop: 800px;
$hero-height-tablet: 1024px;
$hero-height-mobile: 568px;
$desktop-padding: 100px;
$tablet-padding: 45px;
$mobile-padding: 15px;

// Typography
// ---------------------------------
$ff-primary: "Manrope", "Arial", sans-serif;
$font-size-base: 16px;

// Colors
// ---------------------------------
$color-primary: #316dc2;
$color-active: #275699;
$color-disabled: #a9afb7;
$color-inverse: #ffffff;
$color-beige: #f0efe9;
$text-color-base: #484848;
$text-color-primary: $color-primary;
$icon-color-stroke: #ffffff;
$bg-base: #f0efe9;
$bg-overlay: #ffffff;
$bg-modal-overlay: rgba(13, 29, 51, 0.4);
$btn-color: $color-primary;
$btn-bg-color: $color-inverse;
$btn-icon-bg-color: $color-primary;
$btn-color-hover: $color-inverse;
$btn-color-active: rgba(255, 255, 255, 0.7);
$btn-icon-color-active: rgba(49, 110, 196, 0.7);

// utils
$tf-default: 0.25s ease;
