.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 30px;
  border-radius: 30px;
  border: 1px solid $color-primary;
  background-color: transparent;
  cursor: pointer;

  color: $color-primary;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;

  letter-spacing: 0.28px;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  @include break($vp-mobile-interim) {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
    padding: 2px 20px;
  }

  &:hover,
  &:focus-visible {
    color: $btn-color-hover;
    background-color: $color-primary;
    outline: none;
  }

  &:active {
    color: $btn-color-active;
  }

  &--icon {
    gap: 30px;
    padding-right: 4px;

    @include break($vp-mobile-interim) {
      gap: 19px;
      padding-right: 3px;
    }
  }

  &--tab {
    padding: 11px 26px;
    border: 1px solid transparent;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.25s ease-in-out;

    @include break($vp-desk-interim) {
      padding: 11px 20px;
    }

    @include break($vp-mobile-interim) {
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.24px;
      padding: 8px 14px;
    }

    &:hover,
    &:focus-visible {
      opacity: 1;
      background-color: transparent;
      color: $color-primary
    }

    &:disabled {
      border-color: $color-primary;
      cursor: auto;
      opacity: 1;
    }
  }
}

.btn__icon {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background-color: $color-primary;
  border-radius: 50%;
  color: $icon-color-stroke;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out, transform 0.3s ease-in-out;

  @include break($vp-mobile-interim) {
    width: 35px;
    height: 35px;
  }

  .btn:hover &,
  .btn:focus-visible & {
    color: $color-primary;
    background-color: $color-inverse;
    transform: rotate(45deg);
  }

  .btn:active & {
    color: $btn-icon-color-active;
  }
}

.btn-close {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 35px;
  height: 35px;
  border: none;
  background: url("../img/svg/close-cross.svg") no-repeat center center;
  cursor: pointer;
  border-radius: 50%;
  transition: box-shadow 0.2s ease-in-out;

  @include mobile {
    top: 17px;
    right: 17px;
    width: 22px;
    height: 22px;
    background-size: 12px 12px;
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 1px rgba($color-primary, 0.3);

    @include mobile {
      box-shadow: 0 0 5px 1px rgba($color-primary, 0.3);
    }
  }
}

.btn__caption {
  flex-grow: 1;
}

.btn-slider {
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 50%;
  color: $color-primary;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: background-color 0.2s ease-in-out;

  &:hover,
  &:focus-visible {
    background-color: $color-inverse;
  }

  &:active:not(.swiper-button-disabled) {
    svg {
      opacity: 0.7;
    }
  }

  &--next {
    transform: rotate(180deg);
  }
}

.btn-slider.swiper-button-disabled {
  background-color: transparent;
  color: #a9afb7;
  cursor: auto;
}

.btn__icon--slider {
  width: 30px;
  height: 30px;

  &:hover,
  &:focus-visible {
    transform: rotate(45deg);
    background-color: $color-inverse;
    color: $color-primary;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}
