.header {
  position: fixed;
  display: grid;
  z-index: 2;
  top: 31px;
  justify-content: space-between;
  width: 100%;
  transition: top 0.7s ease;
  left: 50%;
  transform: translateX(-50%);

  @include break($vp-mobile-interim) {
    top: 21px;
  }
}

.header__logo {
  display: flex;
  height: 52px;
  width: 52px;
  background-color: $bg-overlay;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  grid-row: 1/2;
  grid-column: 1/2;
}

.header__menu {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
}