.about {
  padding-top: 3px;
  margin-bottom: 120px;

  @include break($vp-1400) {
    padding-top: 7px;
  }

  @include mobile {
    padding: 2px 15px 0;
  }
}

.about__text-content {
  display: flex;
  justify-content: space-between;
  max-width: 1134px;
  margin-bottom: 59px;

  @include break($vp-1400) {
    flex-direction: column;
    width: 100%;
    padding-right: 180px;
  }

  @include mobile {
    padding-right: 0;
    margin-bottom: 41px;
  }
}

.about__left-column {
  width: 477px;

  @include break($vp-1400) {
    width: 100%;
  }

  h2 {
    color: $color-primary;
    font-size: 50px;
    line-height: 50px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 35px;

    @include break($vp-1400) {
      font-size: 34px;
      line-height: 34px;
      margin: 0;
      margin-bottom: 33px;
    }

    @include mobile {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 13px;
    }
  }

  p {
    font-size: 22px;
    line-height: 32px;
    margin: 0;

    @include break($vp-1400) {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 34px;
    }

    @include mobile {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 35px;
    }
  }
}

.about__right-column {
  width: 498px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include break($vp-1400) {
    width: 100%;
  }

  h3 {
    color: $color-primary;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 0 33px;
    margin-top: -5px;

    @include break($vp-1400) {
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 23px;
    }

    @include mobile {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 11px;
    }
  }

  p {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;

    @include break($vp-1400) {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 35px;
    }

    @include mobile {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 25px;
    }
  }
}

.about__features {
  background-color: $color-primary;
  padding: 72px 106px 32px 126px;
  border-radius: 20px;
  column-gap: 51px;
  row-gap: 54px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;

  @include break($vp-1400) {
    padding: 62px 40px 40px 60px;
    column-gap: 50px;
    row-gap: 42px;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    padding: 42px 20px 40px 30px;
    gap: 22px;
  }
}

.about__item {
  padding: 25px 59px;
  border-radius: 16px;
  border: 1px solid $color-beige;
  display: flex;
  position: relative;

  @include break($vp-1400) {
    flex-direction: column;
    padding: 30px;
    padding-bottom: 25px;
  }

  @include mobile {
    padding: 19px 20px;
    padding-bottom: 23px;
    gap: 4px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    top: -2px;
    left: 0px;
    transform: translate(-50%, -50%);
    background: $color-primary url("../img/svg/david-star.svg") center no-repeat;
    background-size: 18px 18px;
  }


  h3 {
    color: var(--White, #FFF);
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.26px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 4px;

    @include break($vp-1400) {
      font-size: 20px;
      line-height: 22px;
      letter-spacing: 0.2px;
      margin-top: 0;
    }

    @include mobile {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.16px;
      width: 100%;
    }
  }

  p {
    color: $color-beige;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin: 0;

    @include mobile {
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
    }
  }
}

.about__item--1 {
  gap: 36px;

  @include break($vp-1400) {
    gap: 12px;
    padding-left: 29px;
    padding-right: 32px;
    gap: 7px;
  }

  @include mobile {
    padding-left: 19px;
    padding-right: 19px;
    gap: 4px
  }

  h3 {
    width: 144px;

    @include mobile {
      width: 100%;
    }
  }
}

.about__item--2 {
  gap: 25px;
  padding-right: 29px;

  @include break($vp-1400) {
    gap: 12px;
    padding-left: 29px;
    padding-right: 16px;
    gap: 7px;
  }

  @include mobile {
    padding-left: 19px;
    padding-right: 19px;
    gap: 4px
  }

  h3 {
    width: 171px;

    @include mobile {
      width: 100%;
    }
  }
}

.about__item--3 {
  gap: 46px;
  padding-left: 53px;
  padding-right: 53px;

  @include break($vp-1400) {
    gap: 12px;
    padding-left: 29px;
    padding-right: 32px;
    gap: 7px;
  }

  @include mobile {
    padding-left: 19px;
    padding-right: 19px;
    gap: 4px
  }

  h3 {
    width: 134px;
  }
}

.about__item--4 {
  gap: 25px;

  @include break($vp-1400) {
    gap: 12px;
    padding-left: 29px;
    padding-right: 16px;
    gap: 7px;
  }

  @include mobile {
    padding-left: 19px;
    padding-right: 19px;
    gap: 4px
  }

  h3 {
    width: 171px;
  }
}